#main-pane{

    fx-background-color:
            #a6b5c9,
            linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
            linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
}
#form-main-pane {
    -fx-background-color: rgba(177, 221, 246, 1);
    -fx-border-color: rgb(134, 165, 190);
    -fx-border-width: 5px;
}
#form-scroll-pane .scroll-bar:vertical .increment-button,
#form-scroll-pane .scroll-bar:vertical .decrement-button{
    -fx-background-color:transparent;
    -fx-padding:0 10 0 0;
}
#form-scroll-pane .scroll-bar:horizontal .increment-button,
#form-scroll-pane .scroll-bar:horizontal .decrement-button{
    -fx-background-color:transparent;
    -fx-padding:10 0 0 0;
}
#form-scroll-pane .scroll-bar .increment-arrow,
#form-scroll-pane .scroll-bar .decrement-arrow
{
    -fx-shape: " ";
}
#form-scroll-pane{
    -fx-background-color: transparent;
}



